<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRMAppTest Automation Suit">
	<listeners>
		<listener class-name="com.PageObjectModel.utilities.ExtentListener" />
	</listeners>
	<test  name="Test">
		<classes> 
		<class name="com.PageObjectModel.testcases.BaseClass" /> 
		<class name="com.PageObjectModel.testcases.LoginPageTest" /> 
		<class name="com.PageObjectModel.testcases.HomePageTest" />
		<class name="com.PageObjectModel.testcases.ContactsPageTest" />
		</classes>

	<!-- 	<packages>
			<package name="com.PageObjectModel.testcases.*" />
		</packages> -->
	</test> <!-- Test -->
</suite> <!-- FreeCRMAppTest -->
